@media (max-width: 1200px)  {
    body {
        width: 1200px;
    }

}
@media (max-width: 1100px)  {
    body {
        width: 1100px;
    }

}
@media (max-width: 1000px)  {
    body {
        width: 1000px;
    }

}
@media (max-width: 900px)  {
    body {
        width: 900px;
    }

}
@media (max-width: 1024px)  {
    body {
        width: 1024px;
    }
}
@media (max-width: 450px)  {
    body {
        width: 450px;
        /* position: relative; */
    }
    .tobi h1 {
        width: 449px;
        opacity: 0;
        /* position: sticky; */
    }
    .tobi h3 {
        opacity: 100;
        margin-right: 270px;

    }
    .section1 {
        width: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* padding-top: 60px; */
        padding: 60px 0 0 0;
    }
.first .up {
    width: 100%;
}
    .up .era{
        font-size: 40px;
    }

    .down .rae{
        font-size: 13px;
    }
    footer {
        width: 450px;
    }
    footer .container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .footer-content {
        width: 100%;
    }
    .footer-content h3 {
        font-size: 40px;
    }
    .footer-content p {
        font-size: 20px;
    }
    /* .tobi .new-div {
        width: 450px;
        height: 30vh;
        background-color: red;
    }  */
      .new-div {
        opacity: 100;
        width: 450px;
        height: 10vh;
        background-color: #343434;
        display: flex;
        align-items: center;
        justify-content: left;
        padding-left:80px;
        position: fixed;
      }
}


