body{
    width: 215vh;
    /* background-color: rebeccapurple; */
}
main {
    color: black;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.tobi {
    width: 100%;
    height: 15vh;
    align-items: center;
    /* background-color: aqua; */
    justify-content: center;
    display: flex;
    gap: 60px;
}

.section1 {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: #343434;
    color: white;
}

.first {
    width: 45%;
    height: 80%;  
}
.second {
    width: 45%;
    height: 70%;
}
img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.era {
    font-size: 30px;
       color: white; 
}
.up .era {
    color: white;
}
.down .rae {
    color: white;
}

.rae {
    font-size: 15px;
       color: white; 
}

.tobi h1:hover{
   color: aqua;
   font-size: 40px;
   /* animation: ease 2s; */
}
.up h1{
    color: black;
}
.down h1{
    color: black;
}
.tobi h1{
    color: black;
    font-size: 25px;
    justify-content: center;
    display: flex;
}

    *{
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        color: white;
    }
    
    footer{background: #343434;
        padding-top: 50px;
    }
    .container{
        width: 900px;
        margin: auto;
        display: flex;
        gap: 30px;
        justify-content: center;
    }
    .container{
        color: white;
    }
    .footer{
        width: 33.3%;
    }
    h3{
        font-size: 22px;
        /* margin-bottom: 15px; */
        text-align: center;
    }
    .footer-content p{
        width: 190px;
        margin: auto;
        padding: 7px;
        
    }
    .footer-content ul{
        text-align: center;
    }
    .list{
        padding: 0;
    }
    .list li{
        width: auto;
        text-align: center;
        list-style-type: none;
        padding: 7px;
        position: relative;
    }
    .list li::before{
        content: '';
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 100%;
        width: 0;
        height: 2px;
        background: #f18930;
        transition-duration: .5s;
    }
    .list li:hover::before{
        width: 70px;
    }
    .li .fab{
        text-align: center;
        padding: 0;
    }
    li .fab{
        display: inline-block;
        text-align: center;
        padding: 5px;
    }
    li .fab i{
        color: white;
        font-size: 25px;
    }
    a{
        text-decoration: none;
    }
    a:hover{
        color: #f18930;
    }
    li .fab i:hover{
        color: #f18930;
    }
    .bottom-bar{
        background: #f18930;
        text-align: center;
        padding: 10px 0;
        margin-top: 50;
    }
    .bottom-bar p{
        color: #343434;
        margin: 0;
        font-size: 16px;
        padding: 7px;
    }
    .timm li {
        list-style-type: none;
    }

.tobi {
    background-color: #343434;
}

.tobi h1 {
color: white;
}

.tobi h3 {
    opacity: 0;
    position: fixed;
    /* right: 70px; */
}

      .new-div {
        opacity: 0;
        position: fixed;
      }